

body{
  font-family: serif;
  background-color: #FBFBFB;
  
}


/* #layout {
  margin: 0 250px;
} */

.introduction , .about , .skillset , .projects , .contactDetails {
  height: 100vh;
  margin: 0 250px;
  margin-bottom: 50px; 
}



button{
  background-color: rgb(79 70 229 );
  font-weight: bold;
}

.profile-image{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 2px 2px 100px rgb(0, 89, 255);
}

.navbar{
  background: transparent;
  backdrop-filter: blur(30px);
  padding: 0px 250px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);

}

.social-media{
  padding-left: 0px;
}



@media (max-width:1080px){
  #layout{
    margin: 0;
  }
  .introduction , .about , .skillset , .projects , .contactDetails {
    height: auto;
    padding: 0px 16px;
    margin: 0 0;
    margin-bottom: 20px;
  }
  .introduction , .about{
    margin-top: 30px;
  }
  .navbar {
    padding: 0px 0px;
  }
  #layout > section {
    height: auto;
  }
  .introduction , .contactDetails{
    display: grid;
    grid-template-columns: 1fr;
  }
  .profile{
    justify-content: center;
    margin-top: 20px;
  }
  .name{
    font-size: 20px;
  }
  h1 , .social-media , .cv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-image{
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }
  .navbar{
    background: transparent;
    backdrop-filter: blur(30px);
    padding: 0 10px;
  }

}


@media (max-width: 768px) {
  .component-class {
    margin: 10px;
    padding: 5px; 
  }
}


@media (min-width : 1080px) {
  .introduction , .about , .skillset , .projects , .contactDetails{
    height: 100vh;
    /* margin: 0px 100px; */
  }
  /* .navbar {
    padding: 0 100px;
  } */
  .introduction{
    display: grid;
    grid-template-columns: 1;
  }

}


.CV:hover , .submit:hover{
  transform: scale(1.1);
  transition-duration: 1s;
  
}



/* 
::-webkit-scrollbar {
  display: none;
} */


html {
  scroll-behavior: smooth;
}


/* Dark - Mode */

.dark-mode {
  background-color: #0f172a;
  color: #ffffff;
  /* background: linear-gradient(to right, rgb(3, 18, 83), black); */
              
}

.dark{
  background-color: rgba(14, 14, 36, 0.541);
  color: black;
}